apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
  labels:
    app: flask-app
# -----------------------------------------------------------------
# REPLICAS & POD SELECTION
# -----------------------------------------------------------------
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  # -----------------------------------------------------------------
  # POD TEMPLATE: Blueprint for all Pods created by this Deployment
  # -----------------------------------------------------------------
  template:
    metadata:
      labels:
        app: flask-app 
    spec:
      containers:
      - name: flask-app
        image: matalve/flask-app:latest
        ports:
        - containerPort: 5000 # Ingress > Service.port > Service.targetPort > Pod.containerPort
        # -----------------------------------------------------------------
        # HEALTH CHECKS - Liveness and Readiness Probes
        # -----------------------------------------------------------------
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5 # Wait before first check (app warm-up)
          periodSeconds: 10 # Check every 10 seconds
          failureThreshold: 3 # Number of consecutive failures before considering unhealthy
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 3
        # -----------------------------------------------------------------
        # ENVIRONMENT VARIABLES - Configuration from ConfigMaps and Secrets
        # -----------------------------------------------------------------
        env:
        - name: "APP_VERSION"
          valueFrom:
            configMapKeyRef:
              name: flask-app-config
              key: APP_VERSION  
        - name: "ENVIRONMENT"
          valueFrom:
            configMapKeyRef:
              name: flask-app-config
              key: ENVIRONMENT
        - name: "API_KEY"
          valueFrom:
            secretKeyRef:
              name: flask-app-secret
              key: API_KEY
        - name: PORT
          value: "5000"
        # -----------------------------------------------------------------
        # RESOURCE MANAGEMENT - Requests (min) and limits (max)
        # -----------------------------------------------------------------
        resources:
          requests:
            cpu: 10m   # Low for testing HPA.
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi